.cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #343B95;
    border-radius: 15px;
    gap: 35px;
    text-align: center;
    padding: 10px;
    height: 500px;
    width: 350px;
}

.cardWrapperPrimary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background: linear-gradient(180deg, #343B95 0%, #1B1E4E 100%);
    gap: 50px;
    text-align: center;
    color: white;
    padding: 20px;
    height: 575px;
    width: 400px;
}

.headerWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titlePrimary, .invitePrimary, .listItemPrimary{
    color: white;
}

.footerWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}