.header{
    margin: 20px 0 10px 0;
}

.packages {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.extras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.characters{
    display: flex;
    flex-direction: column;
}

.numCharacters{
    max-width: 150px;
}

.dressSelection{
    display: flex;
    flex-direction: column;
}

.selections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.numCharacters{
    min-width: 100px;
}