.card{
    width: 350px;
    height: 475px;
    background-color: #343B95;
    margin: 15px;
    border-radius: 10px;
}

.photo{
    width: 350px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 275px;
    color: white;
    padding: 20px;
    text-align: center;
}