.headerBlock{
    background-color: #DADDE5;
    display: flex;
    justify-content: center;
}

.swoop {
    width: 100%;
}

.katieBlock{
    display: flex;
    justify-content: center;
}

.faqBlock{
    background-color: #343B95;
    display: flex;
    justify-content: center;
}

.faqContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    max-width: 1700px;
    padding: 100px 0;
}

.enchantment{
    padding-bottom: 25px;
    color: white;
}

.enchantmentBlurb{
    max-width: 1300px;
    padding-bottom: 100px;
    color: white;
}

.splash {
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }
  
  .splashText {
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 50vw;
    justify-content: center;
    margin: 50px 80px 0 0;
    color: white;
  }

.textWhite{
    color: white;
}