.accordionContainer {
    width: 100%;           /* Stretch to fill parent */
    box-sizing: border-box;
  }
  
  .item {
    border-bottom: 1px solid #eee;
  }
  
  .button {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  
  .open {
    padding: 1rem;
    padding-top: 0;
  }