.tabs {
    width: 100%;
  }
  
  .tabList {
    display: flex;
    gap: 1rem;
    border-bottom: 2px solid white;
    align-items: flex-end;
  }
  
  .tabButton {
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 2px solid transparent; 
    cursor: pointer;
    box-sizing: border-box; 
    margin: 0;
  }
  
  /* Active tab style */
  .tabButtonActive {
    border-bottom: 2px solid white;
  }
  
  .tabContent {
    padding: 1rem;
  }