
.parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightBox {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    min-width: 320px;
    min-height: 200px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.25);
    overflow: auto;
}

.icon {
    align-self: flex-end;
    margin-bottom: 25px;
}

.icon:hover{
    cursor: pointer;
}

/* @media screen and (max-width: 1000px){
    .parent{
        position: fixed;
        overflow: hidden;
    }

    .lightBox {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 0;
        max-width: 100%;
    }
} */