.lightBox {
    min-width: 50vw;
    max-width: 75vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-size: cover;
    background-position: 'center';
    background-repeat: 'no-repeat';
    border-radius: 15px;
}

.parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D1E1FEE;
    backdrop-filter: blur(10px);
    z-index: 9999;
}

.icon {
    align-self: flex-end;
    margin-bottom: 25px;
}

.icon:hover{
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .parent{
        position: fixed;
        overflow: hidden;
    }

    .lightBox {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 0;
        max-width: 100%;
    }
}