.character{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    padding-bottom: 20px;
}

.photo {
    width: 250px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    border: 1px solid #DADDE5;
    border-bottom: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #DADDE5;
}

.placeholder{
    width: 20px;
}

.dressName{
    padding-bottom: 10px;
}

.characterName{
    padding-bottom: 20px;
}

.navItem{
    cursor: pointer;
}