.area{
    display: flex;
    flex-direction: column;
}

.input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid #A4A8B0;
    padding: 10px 20px;
    align-items: center;
}