.area{
    display: flex;
    flex-direction: column;
}

.input{
    width: 100%;
    min-height: 200px;
    border-radius: 15px;
    border: 1px solid #A4A8B0;
    padding: 10px 20px;
    align-items: center;
    font-family: var(--font-dhyana);
}

.inputInvalid {
    border-color: #b3261e;
}