.card{
    display: flex;
    flex-direction: column-reverse;
    height: 200px;
    text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    color: #1D1E1F;
    justify-content: center;
}

.headerActive {
    color: #fff;
}