.card{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 225px;
    padding-left: 10px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width: 550px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

.time{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}