.characterCard{
    display: flex;
    flex-direction: column;
    border: 1px solid #A4A8B0;
    border-radius: 15px;
    padding: 20px;
    width: fit-content;
    min-width: 175px;
}
.characterCard:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.characterCardActive{
    display: flex;
    flex-direction: column;
    border: 2px solid #343B95;
    border-radius: 15px;
    padding: 20px;
    width: fit-content;
    min-width: 175px;
}
.characterCardActive:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.textCard{
    display: flex;
    flex-direction: row;
    border: 1px solid #A4A8B0;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    min-width: 175px;
    max-width: 700px;
}

.textCard:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.textCardActive{
    display: flex;
    flex-direction: row;
    border: 2px solid #343B95;
    border-radius: 15px;
    padding: 20px;
    width: fit-content;
    min-width: 175px;
}
.textCardActive:hover{
    cursor: pointer;
    transform: scale(1.01);
}
