.card{
    display: flex;
    flex-direction: column;
    border: 1px solid #A4A8B0;
    border-radius: 15px;
    padding: 20px;
    width: fit-content;
    min-width: 175px;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.cardActive{
    display: flex;
    flex-direction: column;
    border: 2px solid #343B95;
    border-radius: 15px;
    padding: 20px;
    width: fit-content;
    min-width: 175px;
}
.cardActive:hover{
    cursor: pointer;
    transform: scale(1.01);
}
