.wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    align-items: center;
    gap: 20px;
}

.mainPhoto {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: top;
    border-radius: 100%;
}

.content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dressPhotos {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dress {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 1px solid white;
    transform: scale(1);
    transition: transform 0.2s ease-in;
}

.dressActive {
    transform: scale(1.1);
    border: 2px solid #343B95;
}

.dress:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.photosBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1000px){
    .wrapper{
        flex-direction: column;
        overflow-y: scroll;
        gap: 20px;
    }
    .content{
        max-width: 100%;
    }
}

@media screen and (max-width: 450px){
    .mainPhoto {
        height: 250px;
        width: 250px;
    }
}