.wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    align-items: center;
}

.mainPhoto {
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: top;
    border-radius: 100%;
}

.content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .description{
    max-width: 60%;
} */

.dressPhotos {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dress {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 1px solid white;
    transform: scale(1);
    transition: transform 0.2s ease-in;
}

.dressActive {
    transform: scale(1.1);
    border: 2px solid #343B95;
}

.dress:hover {
    cursor: pointer;
    transform: scale(1.1);
}