.dropdown {
    width: 100%;
    position: relative;
}

.selected {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: 1px solid #A4A8B0;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.selectedInvalid {
    border-color: #b3261e;
}

.selected:hover {
    cursor: pointer;
}

.options {

    border-radius: 15px;
    border: 1px solid #A4A8B0;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;

    .option {
        padding: 10px 20px;
    }

    .option:hover {
        background-color: #343B9510;
        cursor: pointer;
    }
}

@media screen and (max-width: 900px) {
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(52, 59, 149, 0.85);
        z-index: 1000;
      }

      .options {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001; /* Higher than backdrop */
        width: 95%;
      }
}