.dropdown {
    /* max-width: fit-content; */
}

.selected {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: 1px solid #A4A8B0;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;

    .chevron {
        /* padding-left: 350px; */
    }
}

.selected:hover {
    cursor: pointer;
}

.options {

    border-radius: 15px;
    border: 1px solid #A4A8B0;

    .option {
        padding: 10px 20px;
    }

    .option:hover {
        background-color: #343B9510;
        cursor: pointer;
    }
}