.header {
    color: #FFF;
    font-family: var(--formal-script);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding: 60px 0;
    text-align: center;
}

.headerWrapper {
    display: flex;
    background-color: rgb(52, 59, 149);
    flex-direction: column;
    width: 100vw;
    justify-content: center;
}

.stepper {

    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    width: 100%;
    max-width: 900px;
}

.booking {

    display: flex;
    position: relative;
    margin-top: 25px;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .booking {
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 925px) {
    .headerBackground {
        height: 50px;
    }
}

@media screen and (max-width: 645px) {
    .headerBackground {
        height: 100px;
    }
}

@media screen and (max-width: 460px) {
    .headerBackground {
        height: 125px;
    }

    .booking {
        margin-top: 30px;
    }
}

@media screen and (max-width: 335px) {
    .header {
        font-size: 45px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    display: inline-block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid #343B95;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner svg {
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    transform-origin: 50% 50%;
}