.header {
    color: #FFF;
    font-family: var(--formal-script);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding: 60px 0;
    text-align: center;
}

.headerWrapper {
    display: flex;
    background-color: rgb(52, 59, 149);
    flex-direction: column;
    width: 100vw;
    justify-content: center;
}

.stepper {

    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    width: 100%;
    max-width: 900px;
    margin-right: 50px;
}

.booking {

    display: flex;
    position: relative;
    margin-top: 25px;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .booking {
        flex-direction: column;
    }
}


@media screen and (max-width: 925px) {
    .headerBackground {
        height: 50px;
    }
}

@media screen and (max-width: 645px) {
    .headerBackground {
        height: 100px;
    }
}

@media screen and (max-width: 460px) {
    .headerBackground {
        height: 125px;
    }

    .booking {
        margin-top: 30px;
    }
}

@media screen and (max-width: 335px) {
    .header {
        font-size: 45px;
    }
}