.responsiveImage {
    width: 100%;
    max-height: 400px;
    height: auto;
    object-fit: contain; /* or "cover" if you want to crop */
    display: block;
  }

  .mobileHomeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobileContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
  }

  .mobileTextContainer{
    background-color: #343B95CC;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 30px;
    gap: 20px;
    margin-top: -225px;
    z-index: 1;
  }

  .textWhite{
    color: white;
  }

  .splashRight {
    background-size: cover;
    background-position: center;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }

  .splashLeft{
    background-size: cover;
    background-position: center;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .splashText {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 40vw;
    justify-content: center;
    margin: 80px;
    color: white;
    flex-grow: 2;
  }

  .splashTextRight{

  }
  .swoop {
    width: 100%;
}

