.splash {
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.splashText {
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 40vw;
  justify-content: center;
  margin: 80px;
  color: white;
}

.headerCenter {
  text-align: center;
  margin-top: 100px;
}

.contentBlock {
  display: flex;
  justify-content: center;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.textWhite{
  color: white;
}