.splash {
  background-size: cover;
  background-position: center;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.splashText {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 40vw;
  justify-content: center;
  margin: 80px;
  color: white;
  flex-grow: 2;
}

.headerCenter {
  text-align: center;
  margin-top: 100px;
}

.contentBlock {
  display: flex;
  justify-content: center;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.textWhite{
  color: white;
}

@media screen and (max-width: 900px){
  .splashText{
    height: 100%;
    max-width: 100%;
    padding: 25px;
    margin: 0;
    text-align: center;
    align-items: center;
  }
}