.splash {
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.splashText {
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 40vw;
  justify-content: center;
  margin: 80px;
  color: white;
}

.buttonWhite {
  width: fit-content;
  padding: 15px 60px;
  color: #343B95;
  border-radius: 15px;
  background-color: white;
  text-decoration: none;
}

.contentRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding-right: 100px;
    gap: 20px;
}

.contentLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  padding-left: 100px;
  gap: 20px;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonBlue {
  width: fit-content;
  padding: 15px 60px;
  background-color: #343B95;
  border-radius: 15px;
  color: white;
}

.headerCenter{
  text-align: center;
  margin-top: 100px;
}

.reviews{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}