.collage {
    position: relative;
    width: 50vw;
    max-width: 600px;
    max-height: 600px;
    height: 50vw;
}

.mainBubbleRight {
    border-radius: 100%;
    border: 3px solid #FFF;
    width: 55%;
    height: 55%;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    z-index: 2;
    background-position: center;
}

.mainBubbleLeft {
    border-radius: 100%;
    border: 3px solid #FFF;
    background-size: cover;
    background-position: center;
    width: 55%;
    height: 55%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    z-index: 2;
    background-position: center;
}

.medBubbleRight {
    border-radius: 100%;
    border: 3px solid #FFF;
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 30%;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    left: 55%;
    top: 60%;
    opacity: 0.5;
}

.medBubbleLeft {
    border-radius: 100%;
    border: 3px solid #FFF;
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 30%;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    left: 15%;
    top: 60%;
    opacity: 0.5;
}

.smallBubbleRight {
    width: 20%;
    flex-shrink: 0;
    height: 20%;
    border-radius: 100%;
    border: 3px solid #FFF;
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    left: 35%;
    top: 75%;
    position: absolute;
    opacity: 0.35;
}

.smallBubbleLeft {
    width: 20%;
    flex-shrink: 0;
    height: 20%;
    border-radius: 100%;
    border: 3px solid #FFF;
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    left: 45%;
    top: 75%;
    position: absolute;
    opacity: 0.35;
}