.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 75vw;
    max-width: 1200px;
}
.button{
    width: fit-content;
    padding: 15px 60px;
    background-color: #343B95;
    border-radius: 15px;
    color: white;
}

.list{
    margin-left: 25px;
}