.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    border-bottom: 1px solid #343B954D;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 3;
}

.link{
    text-decoration: none;
    color: #343B95;
    padding: 0 10px;
}

.linkActive{
    text-decoration: none;
    color: #343B95;
    padding: 0 10px;
    border-bottom: 2px solid #343B95;
}

.logo{
    width: 200px;
    height: 60px;
    background-size: cover;
    background-position: center;
}
