.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 65px;
}

.book{
    padding: 15px 60px;
    background-color: #343B95;
    border-radius: 15px;
    color: white;
}