.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 65px;
    text-decoration: none;
}

.book{
    padding: 15px 60px;
    background-color: #343B95;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color: #343B95;
    padding: 0 10px;
}

.linkActive{
    text-decoration: none;
    color: #343B95;
    padding: 0 10px;
    border-bottom: 2px solid #343B95;
}