
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    padding-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #DADDE5;
}

.placeholder{
    width: 20px;
}

.navItem{
    cursor: pointer;
}