.header {
    background-color: #DADDE5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.swoop {
    width: 100%;
}

.blurb {
    padding: 50px 0;
}

.buttonBlue {
    width: fit-content;
    padding: 15px 60px;
    background-color: #343B95;
    border-radius: 15px;
    color: white;
}

.headerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding-right: 100px;
}

.servicesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    padding: 100px 0;
}

.servicesHeader{
    margin-bottom: 50px;
}

.photosHeader{
    text-align: center;
    margin-bottom: 50px;
}

.photosBlock{
    max-width: 1300px;
    margin: 0 50px;
}