.servicesBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash {
  background-size: cover;
  background-position: center;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.splashText {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 40vw;
  justify-content: center;
  margin: 80px;
  color: white;
  flex-grow: 2;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5vw;
  width: 100%;
  margin: 150px 0;
}

.photosHeader {
  text-align: center;
  margin-bottom: 50px;
}

.photosBlock {
  max-width: 1300px;
  margin: 50px 50px;
}

.textWhite {
  color: white;
}

@media screen and (max-width: 900px) {
  .splashText {
    height: 100%;
    max-width: 100%;
    padding: 25px;
    margin: 0;
    text-align: center;
    align-items: center;
  }
}
