.headerBlock{
    background-color: #DADDE5;
    display: flex;
    justify-content: center;
}

.servicesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1700px;
    padding: 50px 0;
}

.servicesHeader{
    margin-bottom: 50px;
}

.photosHeader{
    text-align: center;
    margin-bottom: 50px;
}

.photosBlock{
    max-width: 1300px;
    margin: 50px 50px;
}

.splash {
    background-size: cover;
  background-position: center;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .splashText {
    display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 40vw;
  justify-content: center;
  margin: 80px;
  color: white;
  flex-grow: 2;
  }

.textWhite{
    color: white;
}

@media screen and (max-width: 900px){
    .splashText{
      height: 100%;
      max-width: 100%;
      padding: 25px;
      margin: 0;
      text-align: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 750px){
    .services{
        width: 90vw;
    }
  }