.headerBlock{
    background-color: #DADDE5;
    display: flex;
    justify-content: center;
}

.servicesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1700px;
    padding: 50px 0;
}

.servicesHeader{
    margin-bottom: 50px;
}

.photosHeader{
    text-align: center;
    margin-bottom: 50px;
}

.photosBlock{
    max-width: 1300px;
    margin: 50px 50px;
}

.splash {
    background-size: cover;
    background-position: top;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .splashText {
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 50vw;
    justify-content: center;
    margin: 50px 0 0 80px;
    color: white;
  }

.textWhite{
    color: white;
}