.footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid #343B954D;
    align-items: center;
    padding: 25px 100px;
    text-align: center;
    background-color: #DADDE5;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.link{
    text-decoration: none;
    color: black;
    flex-wrap: wrap;
}
.link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 900px){
    .footer{
        padding: 25px;
    }

}

@media screen and (max-width: 450px){
    .links{
        flex-direction: column;
        gap: 20px;
    }
}