.footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid #343B954D;
    align-items: center;
    padding: 50px 100px;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    text-decoration: underline;
}