.estimate {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 400px;
    border-radius: 15px;
    border: 3px solid #343B95;
    height: fit-content;
    padding: 25px 60px;
    position: sticky;
    top: 50px;
}

.header{
    margin-bottom: 15px;
}

.lineItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.equals {
    color: #1D1E1F;
    margin: 15px 0;
}

.disclaimer{
    color: #1D1E1F;
    margin-top: 25px;
}