.estimate {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 400px;
    border-radius: 15px;
    border: 3px solid #343B95;
    height: fit-content;
    padding: 25px 60px;
    position: sticky;
    top: 150px;
}

.header {
    margin-bottom: 15px;
}

.lineItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.equals {
    color: #1D1E1F;
    margin: 15px 0;
}

.disclaimer {
    color: #1D1E1F;
    margin-top: 25px;
}

.mobileHeader {
    display: flex;
    justify-content: space-between;
    background-color: #DADDE5;
    padding: 20px;
    border-top: 1px solid #343B954D;
}

.mobileHeader:hover {
    cursor: pointer;
}

.active {
    position: fixed;
    bottom: 0;
    background: #DADDE5;
    height: fit-content;
    width: 100%;
    padding: 20px 0 30px 0;
}

.inactive {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.estimateMobile {
    padding: 0 20px 20px 20px;
}

.popupActiveBackground {
    height: 100%;
    background: rgba(52, 59, 149, 0.85);
    backdrop-filter: blur(4px);
    width: 100%;
    position: fixed;
    top: 0;
}