.toggleWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid #343B95;
    border-radius: 15px;
    text-align: center;
}

.toggle {
    padding: 10px 40px;
    cursor: pointer;
}

.toggleActive{
    padding: 10px 40px;
    border-radius: 15px;
    background: #343B95;
    color: white;
}
