.nameInput{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header{
    margin: 20px 0 10px 0;
}

@media screen and (max-width: 540px) {
    .nameInput{
        flex-direction: column;
    }
}